<div class="container">
  <div class="row">
    <h1 class="text-center">Log In</h1>
    <div id="log-in-panel" class="panel panel-default">
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { novalidate: true }) do |f| %>
          <%= devise_error_messages! %>

          <%= form_group_tag resource.errors[:email] do %>
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          <% end %>

          <%= form_group_tag resource.errors[:password] do %>
            <%= f.label :password %> <%= link_to '(Forgot password)', new_password_path(resource_name) %>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          <% end %>

          <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <%= f.label :remember_me do %>
              <%= f.check_box :remember_me %>
                Remember Me
              <% end %>
            </div>
          <% end -%>

          <div class="form-group">
            <%= f.submit "Log In", class: 'btn btn-primary btn-lg btn-block' %>
          </div>
        <% end %>
        <p id="or-text" class="text-center">OR</p>
        <hr id="or-seperator">
        <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), class: "btn btn-lg btn-block btn-danger" %>
      </div> <!-- /.panel-body -->
    </div> <!-- /#log-in-panel -->
  </div> <!-- /.row -->
  <div class="row">
    <div class="alternate-links text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div> <!-- /.row -->
</div> <!-- /.container -->
