<% if accounts.empty? %>
  <div class="content--panel__content">
    <p>You have not added any bank accounts.</p>
    <button role="button" class="btn btn-primary btn-block" data-content-path="<%= new_bank_account_path %>" data-toggle="modal" data-target="#dashboard-modal">
      Add Bank Account
    </button>
  </div>
<% else %>

  <div class="content--panel__content--table">
    <table class="table">
      <tr>
        <th>Account Name</th>
        <th>Balance</th>
        <th>Links</th>
      </tr>
      <%= content_tag_for :tr, accounts do |account| %>
        <td><%= account.name %></td>
        <td><%= number_to_currency account.balance %></td>
        <td>
          <span class="hidden-xs">
            <button type="button" class="btn btn-primary btn-xs" data-content-path="<%= edit_bank_account_path(account) %>" data-toggle="modal" data-target="#dashboard-modal">Edit</button> | 
          </span>
          <button type="button" class="btn btn-primary btn-xs" data-content-path="<%= new_bank_account_acct_transaction_path(account) %>" data-toggle="modal" data-target="#dashboard-modal">Add Transaction</button>
        </td>
      <% end %>
    </table> <!-- /.table -->
  </div> <!-- /.content--panel__content--table -->

<% end %>
