// Set the title and the submit button text
$( '#dashboard-modal .modal-title' ).empty();
$( '#dashboard-modal .modal-title' ).append( 'Edit Transaction' );
$( '#dashboard-modal .modal-footer' ).append( '<%= link_to 'Delete', @trans, method: :delete, class: 'btn btn-danger btn-delete', role: 'button', data: { confirm: 'Are you sure you want to delete this transaction?' } %>' );
$( '#dashboard-modal .modal-footer' ).append( '<button type="button" class="btn btn-primary btn-submit">Update</button>' );

// Render the form
$( '#dashboard-modal .modal-body .content' ).append( '<%= j(render partial: 'form', locals: { account: nil, trans: @trans, trans_type_arr: @trans_type_arr }) %>' );

// Hide the forms submit button as they will use the modals button
$( '#edit_acct_transaction_<%= @trans.id %> :submit' ).hide();

// If the user clicks on the modals create account button submit the form
$( '#dashboard-modal .btn-submit' ).on( 'click', function() {
    $( '#edit_acct_transaction_<%= @trans.id %>' ).submit();
    $( '#edit_acct_transaction_<%= @trans.id %> :input' ).prop( 'disabled', true );
    $( '#dashboard-modal .btn-submit' ).prop( 'disabled', true );
    $( '#dashboard-modal .btn-delete' ).addClass( 'disabled' );
});

// setup a callback to enable the forms inputs and submit btn when the ajax request is completed
    $( '#edit_acct_transaction_<%= @trans.id %>' ).on( 'ajax:success', function() {
    $( '#edit_acct_transaction_<%= @trans.id %> :input' ).prop( 'disabled', false );
    $( '#dashboard-modal .btn-submit' ).prop( 'disabled', false );
    $( '#dashboard-modal .btn-delete' ).removeClass( 'disabled' );
});
